/*
#222831 : Dark grey
#393E46 : grey
#00ADB5 : cyan
#EEEEEE : creme entière;
*/

a.button {
    display: inline-block;
    width: 150px;
    height: 20px;
    background: #00ADB5;
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px #00ADB5;

}

div.customFooter{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	text-align: right;
	color: lime;
	background-color: #222831;

}

/*body{
	background-color: #393E46;

}*/

main{
	width: 80%;
	position: relative;
	margin: 0px auto;
	box-shadow: 3px 0px 30px #EEEEEE;
	background: white;

}

section
{
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
}



