/*
#222831 : Dark grey
#393E46 : grey
#00ADB5 : cyan
#EEEEEE : creme entière;
*/

a.button {
    display: inline-block;
    width: 150px;
    height: 20px;
    background: #00ADB5;
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    border-radius: 5px;
    color: black;
    font-weight: bold;

}

body{
	background-color: #393E46;

}

main{
	width: 80%;
	position: relative;
	margin: 0px auto;
	box-shadow: 3px 0px 30px #EEEEEE;
	background: white;

}

section
{
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
}



